@import url('https://fonts.googleapis.com/css2?family=Agbalumo&family=Bebas+Neue&family=Inter:wght@400;500;700&family=Kalam:wght@700&display=swap');

/**
 * START --- SETUP TAILWINDCSS EDIT
 *
 * `yarn rw setup ui tailwindcss` placed these directives here
 * to inject Tailwind's styles into your CSS.
 * For more information, see: https://tailwindcss.com/docs/installation
 */
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
/**
 * END --- SETUP TAILWINDCSS EDIT
 */

@layer base {
  svg {
    @apply fill-current;
  }

  label,
  .label {
    @apply font-handwriting text-xl uppercase tracking-tighter;
  }

  label:has(+ input:placeholder-shown) {
    @apply pointer-events-none absolute left-8 top-8 text-3xl transition-all duration-300;
  }

  label:has(+ input),
  label:has(+ input:focus) {
    @apply absolute left-2 top-2 text-xl;
  }

  input[type='text'],
  input[type='email'],
  input[type='password'],
  input[type='number'],
  input[type='tel'],
  input[type='url'] {
    @apply h-[100px] w-full border-2 border-black px-7 font-sans text-2xl;
  }

  label:has(+ input:invalid:not(:placeholder-shown)) {
    @apply text-white;
  }

  input:invalid:not(:placeholder-shown) {
    @apply border-fireEngineRed bg-orangeRed;
  }

  main {
    @apply relative z-10 mb-[350px] overflow-scroll;
  }

  .field {
    @apply mb-4
  }

  .checkbox-field {
    @apply mb-4 flex items-center gap-4;
  }

  input[type='checkbox'] {
    -webkit-appearance: none;
    -moz-appearance: none;
    @apply h-[40px] w-[40px] appearance-none bg-unchecked bg-center bg-no-repeat;
  }

  input[type='checkbox'] + label {
    @apply cursor-pointer;
  }

  input[type='checkbox']:checked {
    @apply bg-checked;
  }

  button[type='submit'],
  input[type='submit'] {
    @apply w-full rounded-full bg-supernova py-5 text-center font-handwriting text-2xl uppercase text-black;
  }
}

@layer components {
  h1.page-title {
    @apply text-center font-condensed text-9xl uppercase text-white;
  }

  .indicator {
    @apply center h-6 w-6 rounded-full border-2;
  }

  .top-nav li {
    @apply font-condensed text-6xl uppercase leading-none tracking-wide;
  }

  .top-nav li a {
    @apply hover:text-orangeRed;
  }

  .bottom-nav ul a {
    @apply hover:text-orangeRed;
  }

  .dropdown-menu {
    @apply relative bg-white py-5 pl-4 pr-5;
  }

  .dropdown-menu ul {
    @apply flex flex-col gap-2;
  }

  .dropdown-menu li {
    @apply flex items-center gap-3 font-condensed text-3xl uppercase text-black;
  }

  .dropdown-menu::before {
    content: '';
    @apply absolute -top-6 left-16 border-[12px] border-transparent border-b-white;
  }

  .with-rulers {
    @apply flex items-center justify-center gap-7;
  }

  .with-rulers:before,
  .with-rulers:after {
    content: '';
    @apply block h-[6px] w-[74px] bg-current;
  }

  .status-success {
    @apply bg-spanishGreen text-white
  }

  .status-warning {
    @apply bg-supernova text-black
  }

  .status-error {
    @apply bg-orangeRed text-white
  }
}

@layer utilities {
  .center {
    @apply flex items-center justify-center;
  }
}
